* {
  box-sizing: border-box;
}

.container-login {
  width: 100%;  
  background-image: url('../images/bq.jpg');   
  background-repeat: no-repeat;
}

.container {
  flex-direction: row;
}

.dropdown-color {
  color: #6c757da6;
  font-size: x-large;
}

.bars {
  position: absolute;
  right: 0;
}

.border-card-right {
  border-right: 2px solid #9c9a9a54;
}

.height-60 {
  max-height: 60px;
}

.cursor {
  cursor: pointer;
}

.cursor:focus {
  outline: 0;
}

.height-100 {
  max-height: 200px;
  max-width: 100%;
}

.white-space {
  white-space: inherit;
}

.width-100 {
  width: 100%;
}

.home-images {
  border-radius: 50%;
  height: 400px;
  width: 400px !important;
}

.icon-color {
  border: solid 1px #ced4da;
  color: #9ea3a8;
}

.transparent {
  background: transparent;
}

.fill-available {
  height: -webkit-fill-available;
}

.body-color {
  background-color: #f8f9fa;
}

.radius-50 {
  border-radius: 50px
}

.white {
  background-color: white
}

.card-header-box {
  background-color: #b9cad4;
}

.card-footer-btn {
  /* background-color: #758da5; */
  color: white;
}

.border-none {
  border: none
}

.hidden {
  display: none;
}

.padding-3 {
  padding: 1px 7px 2px;
}

.padding-trash {
  padding-right: 7px;
  padding-left: 0;
}

.padding-10 {
  padding: 2px 10px;
}

.text-align {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.border-bottom {
  border-bottom: 1px solid lightslategray;
}

.border-top {
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125)
}

.background-gray {
  background-color: #f3f3f3;
  color: #6c757d99;
}

.text-gray {
  color: #6c757d;
}

.medium {
  font-size: large;
  text-align: center;
  color: #6c757d;
}

.container-menu {
  position: relative;
  text-align: center;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  width: 600px;
  margin : 10px;
  margin-left: 30%;
}

.filter-img:hover {
  filter: blur(2px);
}

.menu-opts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: museo sans;
  font-size: 2em;
  /* text-shadow: 2px 2px #6c757d */
} 

.width-18 {
  width: 18rem;
}

.img-w {
  max-width: 500px;
}
/* 
.blue-color {
  color: #3594cc;
} */

.background-blue {
  background-color: #333333;
  border-color: #333333;
}

.btn-color {
  background-color: #333333;
  color: white;
  font-weight: bolder;
  /* border-radius: 20px; */
  margin-top: 15px;
  float: right;
}

/* .btn-color:hover {
  background-color: #4aaae2;
  color: white;
} */

.column {
  flex-direction: column;
  /* padding-left: 10%;
  padding-right: 10%; */
 }

.logo {
  text-align: center;
  max-width: 200px;
}

.max-50 {
  max-width: 50px;
}

.main-box {
  box-shadow: 1px 1px 20px 4px #9c9a9a54;
  width: 100%;
}

.main-img {
  max-width: 60%;
  padding-top: 8%;
}

.form-style {
  height: 50%;
}

.form-val {
  width: 100%;
}

.text-align-left {
  text-align: left;
}

/*clases*/
.padding-login{
  padding: 0%;
}
.opacyty-login{
 background: rgba(32, 5, 19, 0.514);
 height: 15rem;
 align-content: center;
 padding-top: 4%;
}
.opacyty-login-top{
  margin-top: 10%;
 }
 .border-login{
  border: 1px solid rgba(201, 187, 187, 0.527);
  padding: 2%;
 }


/*clases*/

@media (min-width: 570px) {
  .container-menu {
    top: 90px;
  }
} 

@media (min-width: 768px) {  
  .main-box {
    padding-left: 70px;
    padding-right: 70px;
  }

  .logo {
    max-width: 400px;
  }
  .main-box {
    box-shadow: 0 0 0 0;
    width: 90%;
    border-left: 2px solid #9c9a9a54;
  }
  .card .card-body h5, .card .card-footer {
    font-size: 0.8em;
  }
  tbody tr td {
    font-size: 0.8em;
  }
} 

@media (min-width: 960px) {
  .container {
    flex-direction: row;
  }
  .form-style {
    border-left: solid lightgrey 2px;
  }
  .container-menu {
    top: 80px;
  }
  .filter-img {
    max-width: 480px;
    padding-top: 5%;
  }
  .main-img {
    max-width: 50%;
    padding: 10%;
  }
} 

@media (min-width: 1024px) {
  .card .card-body h5, .card .card-footer {
    font-size: 1.2em;
  }
  tbody tr td {
    font-size: 1.2em;
  }
  .container-menu {
    top: 0;
  }
}

@media (min-width: 1216px) {
  .filter-img {
    min-width: 480px;
    margin-right: 1em;
  }
} 